In [2]:
import pandas as pd
data1 = r"C:\Users\Christabel\Desktop\Python materials\BTC_USD_2014-11-04_2022-01-25-CoinDesk.csv"
x = pd.read_csv(data1)
x

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
0,BTC,2014-11-04,324.467934,323.826186,333.539527,323.106623
1,BTC,2014-11-05,328.644408,324.424164,330.671610,320.902900
2,BTC,2014-11-06,337.921358,328.653046,342.384170,328.597125
3,BTC,2014-11-07,348.992860,337.921358,352.585895,336.236830
4,BTC,2014-11-08,341.459753,348.992860,351.651854,340.196145
...,...,...,...,...,...,...
2635,BTC,2022-01-21,40716.680726,41684.004205,43494.406004,40570.778121
2636,BTC,2022-01-22,36485.436798,40713.972314,41105.580000,35501.072174
2637,BTC,2022-01-23,35071.804446,36483.314556,36810.010000,34064.900000
2638,BTC,2022-01-24,36285.926944,35070.896987,36514.853501,34630.980000
2639,BTC,2022-01-25,36699.614179,36285.633626,37500.000000,32983.590000

In [ ]:
x["S/N"] = [a for a in range(1,2641)]
x.set_index("S/N", inplace = True)
x

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
S/N,,,,,,
1,BTC,2014-11-04,324.467934,323.826186,333.539527,323.106623
2,BTC,2014-11-05,328.644408,324.424164,330.671610,320.902900
3,BTC,2014-11-06,337.921358,328.653046,342.384170,328.597125
4,BTC,2014-11-07,348.992860,337.921358,352.585895,336.236830
5,BTC,2014-11-08,341.459753,348.992860,351.651854,340.196145
...,...,...,...,...,...,...
2636,BTC,2022-01-21,40716.680726,41684.004205,43494.406004,40570.778121
2637,BTC,2022-01-22,36485.436798,40713.972314,41105.580000,35501.072174
2638,BTC,2022-01-23,35071.804446,36483.314556,36810.010000,34064.900000
2639,BTC,2022-01-24,36285.926944,35070.896987,36514.853501,34630.980000
2640,BTC,2022-01-25,36699.614179,36285.633626,37500.000000,32983.590000

In [ ]:
x[["Date","24h Open (USD)"]]

            Date  24h Open (USD)
S/N
1     2014-11-04      323.826186
2     2014-11-05      324.424164
3     2014-11-06      328.653046
4     2014-11-07      337.921358
5     2014-11-08      348.992860
...          ...             ...
2636  2022-01-21    41684.004205
2637  2022-01-22    40713.972314
2638  2022-01-23    36483.314556
2639  2022-01-24    35070.896987
2640  2022-01-25    36285.633626

[2640 rows x 2 columns]

In [ ]:
import numpy as np
x["Difference"] = x["24h Open (USD)"].rolling(window=2).apply(np.diff)
x

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),Difference
S/N,,,,,,,
1,BTC,2014-11-04,324.467934,323.826186,333.539527,323.106623,NaN
2,BTC,2014-11-05,328.644408,324.424164,330.671610,320.902900,0.597978
3,BTC,2014-11-06,337.921358,328.653046,342.384170,328.597125,4.228882
4,BTC,2014-11-07,348.992860,337.921358,352.585895,336.236830,9.268312
5,BTC,2014-11-08,341.459753,348.992860,351.651854,340.196145,11.071502
...,...,...,...,...,...,...,...
2636,BTC,2022-01-21,40716.680726,41684.004205,43494.406004,40570.778121,-690.757607
2637,BTC,2022-01-22,36485.436798,40713.972314,41105.580000,35501.072174,-970.031891
2638,BTC,2022-01-23,35071.804446,36483.314556,36810.010000,34064.900000,-4230.657758
2639,BTC,2022-01-24,36285.926944,35070.896987,36514.853501,34630.980000,-1412.417569
2640,BTC,2022-01-25,36699.614179,36285.633626,37500.000000,32983.590000,1214.736639

In [ ]:
x.head(10)

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),Difference
S/N,,,,,,,
1,BTC,2014-11-04,324.467934,323.826186,333.539527,323.106623,NaN
2,BTC,2014-11-05,328.644408,324.424164,330.671610,320.902900,0.597978
3,BTC,2014-11-06,337.921358,328.653046,342.384170,328.597125,4.228882
4,BTC,2014-11-07,348.992860,337.921358,352.585895,336.236830,9.268312
5,BTC,2014-11-08,341.459753,348.992860,351.651854,340.196145,11.071502
6,BTC,2014-11-09,344.745289,341.459753,346.475560,340.357542,-7.533107
7,BTC,2014-11-10,357.239982,344.745289,357.986991,342.082083,3.285536
8,BTC,2014-11-11,371.116917,371.116917,371.116917,371.116917,26.371628
9,BTC,2014-11-12,366.664633,367.921363,370.800015,361.225098,-3.195554
10,BTC,2014-11-13,428.882925,366.789056,435.484664,366.598986,-1.132307

In [ ]:
x.tail(10)

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD),Difference
S/N,,,,,,,
2631,BTC,2022-01-16,43104.686581,43090.089373,43794.063623,42609.690000,529.237361
2632,BTC,2022-01-17,43102.957367,43103.909911,43475.519539,42620.040000,13.820538
2633,BTC,2022-01-18,42223.860989,43102.939752,43199.500000,41579.358917,-0.970159
2634,BTC,2022-01-19,42374.851714,42223.733887,42662.240000,41302.500000,-879.205865
2635,BTC,2022-01-20,41684.390662,42374.761812,42563.500000,41167.040000,151.027925
2636,BTC,2022-01-21,40716.680726,41684.004205,43494.406004,40570.778121,-690.757607
2637,BTC,2022-01-22,36485.436798,40713.972314,41105.580000,35501.072174,-970.031891
2638,BTC,2022-01-23,35071.804446,36483.314556,36810.010000,34064.900000,-4230.657758
2639,BTC,2022-01-24,36285.926944,35070.896987,36514.853501,34630.980000,-1412.417569
2640,BTC,2022-01-25,36699.614179,36285.633626,37500.000000,32983.590000,1214.736639